@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: lawngreen;
    background: black;
    font-size: 20px;
}

header {
    width: 100%;
    height: 100%;
    max-height: 200px;
    background: green;
    animation: hbflash 2s linear infinite;
    border: 2px solid green;
    overflow: hidden;
}

/* 
    Header background animation
*/

@keyframes hbflash {
    0% { background: black; }
    50% { background: yellow; }
    100% { background: green; }
}

header .wrapper .header-list li {
    border-bottom: 2px solid lawngreen;
    text-align: center;
    padding-bottom: 2%;
    margin-bottom: 2%;
}

a {
    color: lawngreen;
    text-decoration: none;
}